{
  "**/*.js": [
    "prettier --write",
    "eslint pages",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "stylelint '**/*.scss' --config stylelint-config-carbon",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}
