@import "~@carbon/type/scss/font-face/mono";
@import "~@carbon/type/scss/font-face/sans";
@include carbon--font-face-mono();
@include carbon--font-face-sans();

@import "~@carbon/ibmdotcom-styles/scss/components/dotcom-shell/dotcom-shell";
